<!DOCTYPE html>
<html>
<head>
  <title>Untitled</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/"><img src="/img/skidinfrontsmall.gif" style="margin-left: 120px;margin-top: 35px;" border="0"/></a>
<%= yield %>

</body>
</html>
